button { margin: 3px 6px; }
#config__manager fieldset { background-color: none; }
.secedit button { padding: 3px; }
#dw__toc h3 { color: #333333; }
/*td, th { border: 0px; }*/
.notify { 
    border-top-left-radius: 20px 10px !important; 
    border-top-right-radius: 20px 10px !important; 
    background-color: #F4F2DC !important;
    border: 0px !important;
}

#mediamanager__page .file { width: 100%; clear: both; }

#mediamanager__page { min-width: 38em; }

/*#writtensidebar li:first-child a { border-top: 2px dotted #60C2AD; }*/

#writtensidebar ul { padding: 0px; }
#writtensidebar li, #writtensidebar dd { margin: 0px; }
.realsidebar h1 { margin-top: 1.35em; }

/*#navcontainer #navlist li:first-child a { border-top: 2px dotted #60C2AD; }*/

#writtensidebar  a:hover {
	background-color: #FF4B33;
	font-weight: bold;
	/*padding-left: 16px;*/
	color: white;
}

#writtensidebar a
{
display: block;
padding: 16px 0px;
background-image: none;
/*background-color: #D4CC77;*/
/*border-bottom: 2px dotted #60C2AD;*/
}


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 50%; }
#config__manager fieldset td.value { width: unset; }


	/* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }


/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }

/*
#config__manager td input.edit {
    max-width: 14em;
    width: unset;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    /*width: unset;*/
    /*width: max-content;*/
    /*
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}
*/
