@media screen and (max-width: 1100px) {
	.offset { width: 100%; }
	.content { width: 580px; }
}

@media screen and (max-width: 975px) {
	.realsidebar { width: 240px; }
	.statcol { margin: 0px; }
/*	.content { width: 400px; max-width: 70%;}
	.realsidbar { min-width: 00px; }
	.realsidebar { width: 100%; margin: 2em 2em; }
	*/
	
}



@media screen and (max-width: 850px) {
	.header, .content, .offset, #topmenu { width: 100% !important; box-sizing: border-box; }
	.statcol { display: block !important; clear: both; float: none !important;}
	.realsidebar{ margin-bottom: 2em; width: 90% !important; }
	.padbelow { margin-bottom: 12px !important; }
  li, dd { margin: 0.85em 0px; }
	
	.sparewidth { flex-grow: revert; } .flex { display: block !important; } 
	/* turn columns into rows */

	#config__manager fieldset { margin: 0px; }
	#config__manager table { width: 90%; }
  #config__manager fieldset { background-color: transparent; }
  .page li, .page dd { display: block; }
	/* specific to dokuwiki */
}

@media screen and (max-width: 480px) {
  .posthere { padding: 32px 16px; }
}

@media screen and (max-width: 480px){
  #config__manager table { width: 100%; }
}


/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }


/* #mediamanager__page .namespaces { min-width: unset; } */

  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager table { margin: 0px; }
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  #config__manager fieldset { width: 100%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  fieldset { width: unset; }
  #config__manager fieldset td.value { width: unset; }
  td.label { word-wrap: anywhere; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }
}

